<% if @books.present? %>
  <h2>Books search for "<%= @search %>"</h2>
  <%= render 'books/index', books: @books %>
<% elsif @users.present? %>
  <h2>Users search for "<%= @search %>"</h2>
  <%= render 'users/index', users: @users %>
<% else %>
  <h2>見つかりませんでした。</h2>
<% end %>